<html>
<head>
  <meta charset="utf-8">
  <title>Vue.js Группы карточек</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="js/group.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
 
</head>
<div id="app">
  <header>
        <p><h1>{{ siteName }}</h1></p>
  </header>
  
  <main>   

    <h2>Добавить карточку:</h2>
    <form class="margin10" v-on:submit.prevent="addNewCard">
      <p>Название карточки:</p>
      <input
        v-model="newTodoText"
        class="input300"
        placeholder="Например, покормить медведя"
      >
      <p>Состояние выполнения:</p>
      <p>
        <select
          id = "new-card-state"
          v-model="newTodoState"
          class="input300" 
        >        
          <option disabled value="">Выберите один из вариантов</option>
          <option v-for="item in stateList"
            :value="item.value">{{item.value}}
          </option>
        </select>
      </p>    
      <p>Группа:</p>
      <p>
        <select
        v-model="newTodoGroup"
        class="input300" 
        >        
        <option disabled value="">Выберите группу</option>
        <option v-for="item in groups"
          :value="item.title">{{item.title}}
        </option>
        </select>
      </p>   
      <p>Описание:</p>
      <p>
        <textarea 
          class="input300"
          v-model="newTodoDescription" 
          placeholder="Введите описание задачи">          
        </textarea>       
      </p>
      <button
        class="btn"
      >
      Добавить</button>
    </form>

    <form>
      <p>Отбор по наименованию:</p>
      <input 
        v-model="searchName"
        class="input300" 
      >
    </form>

    <form>
      <p>Отбор по состоянию:</p>
      <input 
        v-model="searchState"
        class="input300" 
      >
    </form>    
    
    <h2>Список карточек:</h2>
    <card-post
      v-bind:groups="groups"
      v-for="(post, index) in filterCards"
      v-bind:key="post.id"
      v-bind:post="post"  
      v-on:remove="cards.splice(index, 1)"
    >      
    </card-post>

    <p><h2>Добавить группу:</h2></p>
    <form v-on:submit.prevent="addNewGroup">
      <p for="new-group-name">Название группы:</p>
      <input
        v-model="newTodoGroup"
        id="new-group-name"
        class="input300"
        placeholder="Например, хищники"
      >
      </p>      
      <button
        class="btn" 
      >
      Добавить</button>
    </form>    
    <h2>Список групп:</h2>
    <group-post 
      v-for="(post, index) in groups"
      v-bind:key="post.id"
      v-bind:post="post"   
      v-on:remove="groups.splice(index, 1)"
    >      
    </group-post>


  </main>
</div>
  
  <script type="text/javascript">

  </script>
  </body>
</html>
